html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-header {
    font-weight: 500;
}

.form-group {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .col-md-6 {
        margin-bottom: 1.5rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#servicesTab{
    display:flex;
    flex-wrap:nowrap;
    padding-left:0;
    margin-bottom:0;
    list-style:none;
}

/* ELIMINAR COMPLETAMENTE EL BACKDROP */
.modal-backdrop {
    display: none !important;
}

/* Opcional: agregar un fondo oscuro al modal en su lugar */
.modal {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.modal-content {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra para destacar */
}